<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mak.newword">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".application.WordApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label, android:theme, android:name">

        <!-- 集成了MAK相关之后，在Android9.0会出现NoClassDefFoundError，加入legacy -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".show.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- apk更新配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mak.newword.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- MAK的两个activity -->
        <activity android:name=".show.mak.DownApkActivity" />
        <activity android:name=".show.mak.MyWebViewActivity" />
        <!-- 程序的activity -->
        <activity android:name=".HomeActivity" />
        <activity android:name=".show.activity.CommentActivity" />
        <activity android:name=".show.activity.AddWordActivity" />
        <activity android:name=".show.activity.WordDetailActivity" />
        <activity android:name=".show.activity.SentenceDetailActivity" />
        <activity android:name=".show.activity.SettingActivity" />
        <activity android:name=".show.activity.AboutActivity" />
        <activity android:name=".show.activity.MessageManagerActivity" />
        <activity android:name=".show.activity.ClockRemindActivity"></activity>
        <receiver android:name=".receiver.AlarmReceiver"/>
    </application>

</manifest>