<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mak.newword">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.WordApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 集成了MAK相关之后，在Android9.0会出现NoClassDefFoundError，加入legacy -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".show.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MAK的两个activity -->
        <activity android:name=".show.mak.DownApkActivity" />
        <activity android:name=".show.mak.MyWebViewActivity" />
        <!-- 程序的activity -->
        <activity android:name=".HomeActivity" />
        <activity android:name=".show.activity.CommentActivity" />
        <activity android:name=".show.activity.AddWordActivity" />
        <activity android:name=".show.activity.WordDetailActivity" />
        <activity android:name=".show.activity.SentenceDetailActivity" />
        <activity android:name=".show.activity.SettingActivity"></activity>
    </application>

</manifest>